/* body{
  background-image: url('login.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */
.loginContainer {
  background-image: url('login.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-position: center;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .login-form .MuiButton-contained {
    margin-top: 10px;
  }
  